<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Spring</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Incluir JavaScript -->
    <script src="/script.js"></script>
</head>
<body>
    <div class="container mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.id}"></td>
                    <td th:text="${persona.name}"></td>
                    <td th:text="${persona.lastname}"></td>
                    <td th:text="${persona.age}"></td>
                    <td>
                        <a href="#" class="btn btn-warning edit-btn" th:data-id="${persona.id}">Editar</a>
                        <a href="#" class="btn btn-danger delete-btn" th:data-id="${persona.id}">Eliminar</a>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
</body>
</html>
