<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Spring</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container mt-4">
        <h1>Lista de Personas</h1>
        
        <div class="mb-3">
            <a th:href="@{/api/persona/crearPersona}" class="btn btn-success">Crear Nueva Persona</a>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.id}"></td>
                    <td th:text="${persona.name}"></td>
                    <td th:text="${persona.lastname}"></td>
                    <td th:text="${persona.age}"></td>
                    <td>
                        <a th:href="@{/api/persona/editar/{id}(id=${persona.id})}" class="btn btn-warning">Editar</a>
                        <a class="btn btn-danger" th:onclick="'FuncionEliminar(' + ${persona.id} + ');'" id="eliminarBtn">Eliminar</a>               
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<!--script src="/EliminarPersona.js"></script-->
	<!-- Cargar jQuery desde CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:src="@{/EliminarPersona.js}"></script>
    <!-- Cargar SweetAlert desde CDN -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
